# Ignorar el entorno virtual
venv/

# Otras carpetas o archivos que quieras ignorar
__pycache__/
*.pyc
.env
credenciales/
path/to/env/

.DS_Store

# Archivos de configuración del editor
.vscode/
.idea/


